/* Zak Rowland, 2022 */

:root {
	--border-padding: 8px;
	--main-padding: 16px;

	--primary: #1A3A48; /* Dark blue-green */
	--primary-light: #255266;
	--primary-dark: #173441;
	--primary-complement: #F7B66A; /* Sand brown */

	--accent: #0391A1; /* Light blue */
	--accent-light: #04B0C3;
	--accent-dark: #038291;
	--accent-complement: #A13003;

	--bg: #EDEDE8; /* Light grey */
	--bg-light: #EFEFEA;
	--bg-dark: #D8D8CE;

	--unclicked-link: #E54825; /* Orange */
	--unclicked-link-light: #E85A3B;
	--unclicked-link-dark: #D63C1A;

	--clicked-link: #796c6b; /* Brown-grey */
	--clicked-link-light: #807161;
	--clicked-link-dark: #63574B;

	--mobile-nav-btn: var(--primary-light);
	--mobile-nav-btn-shadow: var(--primary-dark);
	
	--resume-btn: var(--accent-light);
	--resume-btn-shadow: var(--accent-dark);

	--default-paragraph: black;
	--default-heading: black;
}

/********************************************************************
 * Smartphone styling                                               *
 ********************************************************************/
@media screen and (max-width: 480px) {
	
	p {
		color: var(--default-paragraph);
		font-family:  "Quicksand", sans-serif;
		font-size: 1em;
		font-style: normal;
		font-weight: 400;
		margin: 0;
		padding-top: var(--main-padding);
		text-align: center;
	}

	h1 { /* Reserved for site title */
		color: white;
		font-family:  "Quicksand", sans-serif;
		font-size: clamp(24px, 7vw, 32px);
		font-weight: 600;
		margin: 0;
		padding: 0;
	}

	h2 { /* Reserved for site description / subtitle */
		color: var(--primary-complement);
		font-family:  "Quicksand", sans-serif;
		font-size: clamp(18px, 5vw, 22px);
		font-weight: 400;
		margin: 0;
		padding: 0;
	}

	h3 {
		color: var(--default-heading);
		font-family:  "Quicksand", sans-serif;
		font-size: 1.5em;
		font-style: normal;
		font-weight: 400;
		margin: 0;
		padding-top: var(--main-padding);
		text-align: center;
		text-decoration: underline;
	}

	h4 {
		color: var(--default-heading);
		font-family:  "Quicksand", sans-serif;
		font-size: 1.1em;
		font-style: normal;
		font-weight: 600;
		margin: 0;
		padding-bottom: var(--border-padding);
		text-decoration: underline;
	}

	h5 {
		color: var(--default-heading);
		font-family:  "Quicksand", sans-serif;
		font-size: 0.8em;
		font-style: normal;
		font-weight: 400;
		margin: 0;
		padding-bottom: 4px;
	}

	h6 {
		color: var(--default-heading);
		font-family:  "Quicksand", sans-serif;
		font-size: 1em;
		font-style: italic;
		font-weight: 400;
		margin: 0;
		padding-top: 0px;
	}
	
	figure {
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		margin: 0;
		padding-top: var(--main-padding);
	}

	figure img {
		max-width: 100%;
	}
	
	figure figcaption {
		align-self: center;
		color: var(--default-heading);
		font-family: "Quicksand", sans-serif;
		font-size: 1em;
		font-style: italic;
		font-weight: 300;
		text-align: center;
	}

	li {
		color: var(--default-paragraph);
		font-family:  "Quicksand", sans-serif;
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
	}

	button {
		overflow: hidden;
		position: relative;
		-webkit-tap-highlight-color: transparent;
	}

	button:after {
		background: white;
		border-radius: 100%;
		content: '';
		display: flex;
		height: 120px;
		left: 50%;
		margin-left: -60px;
		margin-top: -60px;
		opacity: .6;
		position: absolute;
		top: 50%;
		transform: scale(0);
		width: 120px;
	}

	button:not(:active):after {
		animation: ripple 0.4s ease-out;
	}

	button:after {
		visibility: hidden;
	}

	button:focus:after {
		visibility: visible;
	}

	@keyframes ripple {
		0% {
			transform: scale(0);
		}
		20% {
			transform: scale(0.4);
		}
		40% {
			transform: scale(0.8);
		}
		80% {
			opacity: 0.2;
			transform: scale(1.2);
		}
		100% {
			opacity: 0;
			transform: scale(1.6);
		}
	}

	/****************************************************************/

	body {
		margin: 0;
		min-width: 320px;
		padding: 0;
	}

		header {
			background: var(--primary);
			box-sizing: border-box;
			display: flex;
			padding-top: var(--main-padding);
			padding-right: var(--border-padding);
			padding-bottom: var(--main-padding);
			padding-left: var(--border-padding);
		}
			
			#header-grid {
				display: grid;
				grid-auto-columns: 1fr;
				grid-auto-rows: auto;
				grid-template-columns: 3fr 1fr;
				grid-template-rows: auto auto;
				width: 100%;
			}

				#title {
					align-self: flex-end;
					grid-column: 1/2;
				}

				#subtitle {
					grid-column: 1/2;
				}

				#toggle-dropdown-button {
					align-self: center;
					background-color: var(--mobile-nav-btn);
					border: 4px solid white;
					border-radius: 50%;
					box-shadow: 0px 4px var(--mobile-nav-btn-shadow);
					cursor: pointer;
					grid-column: 2/3;
					grid-row: 1/3;
					height: clamp(75px, 20vw, 85px);
					justify-self: end;
					padding: var(--main-padding);
					width: clamp(75px, 20vw, 85px);
				}

					#dropdown-icon {
						max-width: 75%;
					}

				#nav-buttons {
					display: none;
					grid-column: 1/3;
					padding-top: var(--main-padding);
				}

					#nav-buttons a:link {
						text-decoration: none;
					}

				.nav-button {
					background-color: var(--mobile-nav-btn);
					border: 4px solid white;
					border-radius: 32px;
					box-shadow: 0px 4px var(--mobile-nav-btn-shadow);
					color: white;
					cursor: pointer;
					display: flex;
					font-family:  "Quicksand", sans-serif;
					font-size: 1.25em;
					font-style: normal;
					font-weight: 600;
					height: 3em;
					justify-content: center;
					margin-bottom: var(--border-padding);
					padding: var(--main-padding);
					text-align: center;
					text-decoration: none;
					width: 100%;
				}

	/****************************************************************/

		main { 
			background-color: var(--bg);
			display: flex;
			margin:  0;
			padding: 0;
		}

			#main-content {
				display: grid;
				grid-template-columns: 1fr;
				grid-template-rows: clamp(90px, 14vh, 100px);
				width: 100%;
			}

				#resume-bar {
					background-color: var(--accent);
					box-sizing: border-box;
					column-gap: var(--border-padding);
					display: grid;
					grid-column: 1/4;
					grid-template-columns: 1fr 1fr 2fr;
					padding: var(--border-padding);
					position: sticky;
					top: 0;
				}

					#portrait {
						align-self: center;
						grid-column: 1/2;
						height: clamp(70px, 20vw, 76px);
						justify-self: end;
						width: clamp(70px, 20vw, 76px);
					}

					#portrait-text {
						align-self: center;
						color: var(--bg);
						font-size: clamp(20px, 5vw, 36px);
						font-weight: 600;
						grid-column: 2/3;
						padding: 0px;
						text-align: left;
					}

					#resume-button {
						align-self: center;
						grid-column: 3/4;
						justify-self: center;

						align-items: center;
						background-color: var(--resume-btn);
						border: 4px solid white;
						border-radius: 50px;
						box-shadow: 0px 4px var(--resume-btn-shadow);
						color: var(--bg);
						cursor: pointer;
						display: flex;
						font-family:  "Quicksand", sans-serif;
						font-size: 1.25em;
						font-style: normal;
						font-weight: 600;
						height: 80%;
						justify-content: center;
						max-width: 152px;
						padding: 24px 48px;
						text-align: center;
						text-decoration: none;
						width: 100%;
					}

				#content-wrapper {
					box-sizing: border-box;
					display: grid;
					grid-template-columns: 1fr;
					padding-left: 32px;
					padding-right: 32px;
				}
				
					.list-container ul {
						margin: 0;
						padding: var(--main-padding) 0px 0px var(--main-padding);
					}

					#projects-cta {
						font-family: "Quicksand", sans-serif;
						font-size: 20px;
						font-style: normal;
						font-weight: 400;
						margin: 0;
						padding-top: var(--main-padding);
					}
					
					#btt-button-container {
						box-sizing: border-box;
						display: flex;
						justify-content: center;
						padding-bottom: var(--main-padding);
						padding-top: var(--main-padding);
						text-align: center;
				}

					#btt-button {
						align-items: center;
						background-color: var(--primary);
						border: 5px solid white;
						border-radius: 50px;
						box-shadow: 0px 4px black;
						color: white;
						cursor: pointer;
						display: flex;
						font-family:  "Quicksand", sans-serif;
						font-size: clamp(18px, 5vw, 36px);
						font-style: normal;
						font-weight: 600;
						justify-content: center;
						margin: 0;
						max-width: 300px;
						padding: 16px 48px;
						text-align: center;
						text-decoration: none;
						width: 100%;
					}
				
					.experience-entry {
						background-color: var(--bg-light);
						border: 2px solid var(--bg-dark);
						border-radius: 16px;
						box-sizing: border-box;
						margin-top: var(--main-padding);
						padding: 8px;
						text-align: center;
					}

					.project-heading {
						padding-bottom: 0px;
						padding-top: var(--main-padding);
						text-align: center;
						text-decoration: none;
					}
			
		/****************************************************************/

		footer {
			align-items: center;
			box-sizing: border-box;
			background: var(--primary);
			display: flex;
			justify-content: center;
			padding-bottom: var(--main-padding);
			height: 72px;
			text-align: center;
		}

			#footer-text {
				color: white;
				font-family:  "Quicksand", sans-serif;
				font-size: 1em;
				font-style: normal;
				font-weight: 400;
			}

			#license-link {
				color: var(--unclicked-link-light);
				font-family:  "Quicksand", sans-serif;
				font-size: 1em;
				font-style: normal;
				font-weight: 400;
			}

		/****************************************************************/

}

/********************************************************************
 * Tablet styling                                                   *
 ********************************************************************/
@media screen and (min-width: 481px) and (max-width: 1023px) {

	p {
		color: var(--default-paragraph);
		font-family:  "Quicksand", sans-serif;
		font-size: 1em;
		font-style: normal;
		font-weight: 400;
		margin: 0;
		padding-top: var(--main-padding);
		text-align: center;
	}

	h1 { /* Reserved for site title */
		color: white;
		font-family:  "Quicksand", sans-serif;
		font-size: clamp(24px, 7vw, 32px);
		font-weight: 600;
		margin: 0;
		padding: 0;
	}

	h2 { /* Reserved for site description / subtitle */
		color: var(--primary-complement);
		font-family:  "Quicksand", sans-serif;
		font-size: clamp(18px, 5vw, 22px);
		font-weight: 400;
		margin: 0;
		padding: 0;
	}

	h3 {
		color: var(--default-heading);
		font-family:  "Quicksand", sans-serif;
		font-size: 1.5em;
		font-style: normal;
		font-weight: 400;
		margin: 0;
		padding-top: var(--main-padding);
		text-align: center;
		text-decoration: underline;
	}

	h4 {
		color: var(--default-heading);
		font-family:  "Quicksand", sans-serif;
		font-size: 1.1em;
		font-style: normal;
		font-weight: 600;
		margin: 0;
		padding-bottom: var(--border-padding);
		text-decoration: underline;
	}

	h5 {
		color: var(--default-heading);
		font-family:  "Quicksand", sans-serif;
		font-size: 0.8em;
		font-style: normal;
		font-weight: 400;
		margin: 0;
		padding-bottom: 4px;
	}

	h6 {
		color: var(--default-heading);
		font-family:  "Quicksand", sans-serif;
		font-size: 1em;
		font-style: italic;
		font-weight: 400;
		margin: 0;
		padding-top: 0px;
	}
	
	figure {
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		margin: 0;
		padding-top: var(--main-padding);
	}

	figure img {
		max-width: 100%;
	}
	
	figure figcaption {
		align-self: center;
		color: var(--default-heading);
		font-family: "Quicksand", sans-serif;
		font-size: 1em;
		font-style: italic;
		font-weight: 300;
		text-align: center;
	}

	li {
		color: var(--default-paragraph);
		font-family:  "Quicksand", sans-serif;
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
	}

	button {
		overflow: hidden;
		position: relative;
		-webkit-tap-highlight-color: transparent;
	}

	button:after {
		background: white;
		border-radius: 100%;
		content: '';
		display: flex;
		height: 120px;
		left: 50%;
		margin-left: -60px;
		margin-top: -60px;
		opacity: .6;
		position: absolute;
		top: 50%;
		transform: scale(0);
		width: 120px;
	}

	button:not(:active):after {
		animation: ripple 0.4s ease-out;
	}

	button:after {
		visibility: hidden;
	}

	button:focus:after {
		visibility: visible;
	}

	@keyframes ripple {
		0% {
			transform: scale(0);
		}
		20% {
			transform: scale(0.4);
		}
		40% {
			transform: scale(0.8);
		}
		80% {
			opacity: 0.2;
			transform: scale(1.2);
		}
		100% {
			opacity: 0;
			transform: scale(1.6);
		}
	}

	/****************************************************************/

	body {
		margin: 0;
		padding: 0;
	}

		header {
			background: var(--primary);
			box-sizing: border-box;
			display: flex;
			padding-top: var(--main-padding);
			padding-right: var(--border-padding);
			padding-bottom: var(--main-padding);
			padding-left: var(--border-padding);
		}
			
			#header-grid {
				display: grid;
				grid-auto-columns: 1fr;
				grid-auto-rows: auto;
				grid-template-columns: 3fr 1fr;
				grid-template-rows: auto auto;
				width: 100%;
			}

				#title {
					align-self: flex-end;
					grid-column: 1/2;
				}

				#subtitle {
					grid-column: 1/2;
				}

				#toggle-dropdown-button {
					align-self: center;
					background-color: var(--mobile-nav-btn);
					border: 4px solid white;
					border-radius: 50%;
					box-shadow: 0px 4px var(--mobile-nav-btn-shadow);
					cursor: pointer;
					grid-column: 2/3;
					grid-row: 1/3;
					height: clamp(75px, 20vw, 85px);
					justify-self: end;
					padding: var(--main-padding);
					width: clamp(75px, 20vw, 85px);
				}

					#dropdown-icon {
						max-width: 75%;
					}

				#nav-buttons {
					display: none;
					grid-column: 1/3;
					padding-top: var(--main-padding);
				}

					#nav-buttons a:link {
						text-decoration: none;
					}

				.nav-button {
					background-color: var(--mobile-nav-btn);
					border: 4px solid white;
					border-radius: 32px;
					box-shadow: 0px 4px var(--mobile-nav-btn-shadow);
					color: white;
					cursor: pointer;
					display: flex;
					font-family:  "Quicksand", sans-serif;
					font-size: 1.25em;
					font-style: normal;
					font-weight: 600;
					height: 3em;
					justify-content: center;
					margin-bottom: var(--border-padding);
					padding: var(--main-padding);
					text-align: center;
					text-decoration: none;
					width: 100%;
				}

	/****************************************************************/

		main { 
			background-color: var(--bg);
			display: flex;
			margin:  0;
			padding: 0;
		}

			#main-content {
				display: grid;
				grid-template-columns: 1fr;
				grid-template-rows: clamp(90px, 14vh, 100px);
				width: 100%;
			}

				#resume-bar {
					background-color: var(--accent);
					box-sizing: border-box;
					column-gap: var(--border-padding);
					display: grid;
					grid-column: 1/4;
					grid-template-columns: 1fr 1fr 2fr;
					padding: var(--border-padding);
					position: sticky;
					top: 0;
				}

					#portrait {
						align-self: center;
						grid-column: 1/2;
						height: clamp(70px, 20vw, 76px);
						justify-self: end;
						width: clamp(70px, 20vw, 76px);
					}

					#portrait-text {
						align-self: center;
						color: var(--bg);
						font-size: clamp(20px, 5vw, 24px);
						font-weight: 600;
						grid-column: 2/3;
						padding: 0px;
						text-align: left;
					}

					#resume-button {
						align-self: center;
						grid-column: 3/4;
						justify-self: center;

						align-items: center;
						background-color: var(--resume-btn);
						border: 4px solid white;
						border-radius: 50px;
						box-shadow: 0px 4px var(--resume-btn-shadow);
						color: var(--bg);
						cursor: pointer;
						display: flex;
						font-family:  "Quicksand", sans-serif;
						font-size: 1.25em;
						font-style: normal;
						font-weight: 600;
						height: 80%;
						justify-content: center;
						max-width: 152px;
						padding: 24px 48px;
						text-align: center;
						text-decoration: none;
						width: 100%;
					}

				#content-wrapper {
					box-sizing: border-box;
					padding-left: 32px;
					padding-right: 32px;
				}
				
					.list-container ul {
						margin: 0;
						padding: var(--main-padding) 0px 0px var(--main-padding);
					}

					#projects-cta {
						font-family: "Quicksand", sans-serif;
						font-size: 20px;
						font-style: normal;
						font-weight: 400;
						margin: 0;
						padding-top: var(--main-padding);
					}
					
					#btt-button-container {
						box-sizing: border-box;
						display: flex;
						justify-content: center;
						padding-bottom: var(--main-padding);
						padding-top: var(--main-padding);
						text-align: center;
				}

					#btt-button {
						align-items: center;
						background-color: var(--primary);
						border: 5px solid white;
						border-radius: 50px;
						box-shadow: 0px 4px black;
						color: white;
						cursor: pointer;
						display: flex;
						font-family:  "Quicksand", sans-serif;
						font-size: clamp(18px, 5vw, 30px);
						font-style: normal;
						font-weight: 600;
						justify-content: center;
						margin: 0;
						max-width: 300px;
						padding: 16px 48px;
						text-align: center;
						text-decoration: none;
						width: 100%;
					}
				
					.experience-entry {
						background-color: var(--bg-light);
						border: 2px solid var(--bg-dark);
						border-radius: 16px;
						box-sizing: border-box;
						margin-top: var(--main-padding);
						padding: 8px;
						text-align: center;
					}

					.project-heading {
						padding-bottom: 0px;
						padding-top: var(--main-padding);
						text-align: center;
						text-decoration: none;
					}
			
		/****************************************************************/

		footer {
			align-items: center;
			box-sizing: border-box;
			background: var(--primary);
			display: flex;
			justify-content: center;
			padding-bottom: var(--main-padding);
			height: 72px;
			text-align: center;
		}

			#footer-text {
				color: white;
				font-family:  "Quicksand", sans-serif;
				font-size: 1em;
				font-style: normal;
				font-weight: 400;
			}

			#license-link {
				color: var(--unclicked-link-light);
				font-family:  "Quicksand", sans-serif;
				font-size: 1em;
				font-style: normal;
				font-weight: 400;
			}

		/****************************************************************/

}

/********************************************************************
 * Desktop styling                                                  *
 ********************************************************************/
@media screen and (min-width: 1024px) {
	p {
		color: var(--default-paragraph);
		margin: 0;
	}

	h1 {
		color: var(--heading-one-color);
		font-family:  "Quicksand", sans-serif;
		font-size: 2em;
		font-style: normal;
		font-weight: 600;
		margin: 0;
	}

	h2 {
		color: var(--heading-two-color);
		font-family:  "Quicksand", sans-serif;
		font-size: 1.5em;
		font-style: normal;
		font-weight: 400;
		margin: 0;
	}

	figure {
		display: flex;
		flex-flow: column;
	}

	figure img {
		max-width: 100%;
	}

	figure figcaption {
		align-self: center;
		color: var(--default-heading-color);
		font-family: "Quicksand", sans-serif;
		font-size: 1.5em;
		font-style: normal;
		font-weight: 300;
	}

	/****************************************************************/

	header {
		background: var(--primary);
		display: flex;
		height: 15vh;
		min-height: 100px;
	}

		#title-col {
			align-items: center;
			display: inline-flex;
			height: 100%;
			justify-content: center;
			width: 20%;
		}

			#title-text {
				font-size: 100%;
				text-align: center;
			}

		#nav-col {
			align-items: center;
			display: inline-flex;
			height: 100%;
			justify-content: right;
			width: 80%;
		}

			#nav-bar {
				margin-right: 16px;
			}

				#mobile-nav {
					display: none;
				}

				.nav-button {
					align-items: center;
					background-color: transparent;
					border: 3px solid var(--clicked-link-color);
					border-radius: 50px;
					color: white;
					cursor: pointer;
					display: inline-block;
					font-family:  "Quicksand", sans-serif;
					font-size: 1.5em;
					font-style: normal;
					font-weight: 600;
					margin: 8px 6px;
					padding: 16px 48px;
					position: relative;
					text-align: center;
					text-decoration: none;
					transition-duration: 0.5s;
				}

				.nav-button:hover {
					background-color: var(--unclicked-link);
					color: white;
				}

	/****************************************************************/

	main { 
		display: flex;
		height: 75vh;
		margin:  0px auto;
		min-height: 500px;
	}
		#desktop-layout {
			display: flex;
			width: 100%;
		}

			#left-sidebar {
				background: var(--accent);
				display: inline-flex;
				justify-content: center;
				width: 20%;
			}

				#left-sidebar-portrait {
					display: flex;
					height: fit-content;
					justify-content: center;
					margin-top: 24px;
					width: fit-content;
				}

			#main-content {
				background: var(--bg-color);
				display: inline-flex;
				justify-content: center;
				right:  0;
				text-align: center;
				width: 80%;
			}

		#mobile-layout {
			display: none;
		}

	/****************************************************************/

	footer {
		align-items: center;
		background: var(--primary);
		display: flex;
		height: 10vh;
		justify-content: center;
		min-height: 1.5em;
	}

		#footer-text {
			color: white;
			font-family:  "Quicksand", sans-serif;
			font-size: 1em;
			font-style: normal;
			font-weight: 400;
			margin: 0;
		}

		#license-link {
			color: var(--unclicked-link);
			font-family:  "Quicksand", sans-serif;
			font-size: 1em;
			font-style: normal;
			font-weight: 400;
			margin: 0;
		}

	/****************************************************************/
}