/* Zak Rowland, 2022 */

:root {
	--border-padding: 8px;

	--primary: #1A3A48; /* Dark blue-green */
	--primary-light: #255266;
	--primary-dark: #173441;
	--primary-complement: #F7B66A; /* Sand brown */

	--accent: #0391A1; /* Light blue */
	--accent-light: #04B0C3;
	--accent-dark: #038291;
	--accent-complement: #A13003;

	--bg: #EDEDE8; /* Light grey */
	--bg-light: #EFEFEA;
	--bg-dark: #D8D8CE;

	--unclicked-link: #E54825; /* Orange */
	--unclicked-link-light: #E85A3B;
	--unclicked-link-dark: #D63C1A;

	--clicked-link: #796c6b; /* Brown-grey */
	--clicked-link-light: #807161;
	--clicked-link-dark: #63574B;

	--mobile-nav-btn: var(--primary-light);
	--mobile-nav-btn-shadow: var(--primary-dark);
	
	--resume-btn: var(--accent-light);
	--resume-btn-shadow: var(--accent-dark);

	--default-paragraph: black;
	--default-heading: black;
}

/********************************************************************
 * Smartphone styling                                               *
 ********************************************************************/
@media screen and (max-width: 480px) {
	
	p {
		color: var(--default-paragraph);
		font-family:  "Quicksand", sans-serif;
		font-size: 1em;
		font-style: normal;
		font-weight: 400;
		margin: 0;
	}

	h1 { /* Reserved for site title */
		color: white;
		font-family:  "Quicksand", sans-serif;
		font-size: clamp(24px, 7vw, 32px);
		font-weight: 600;
		margin: 0;
		padding-bottom: 4px;
	}

	h2 { /* Reserved for site description / subtitle */
		color: var(--primary-complement);
		font-family:  "Quicksand", sans-serif;
		font-size: clamp(18px, 5vw, 22px);
		font-weight: 400;
		margin: 0;
		padding-bottom: 6px;
	}

	h3 {
		color: var(--default-heading);
		font-family:  "Quicksand", sans-serif;
		font-size: 1.5em;
		font-style: normal;
		font-weight: 400;
		margin: 0;
		padding-top: 16px;
		text-align: center;
		text-decoration: underline;
	}

	h4 {
		color: var(--default-heading);
		font-family:  "Quicksand", sans-serif;
		font-size: 1.1em;
		font-style: normal;
		font-weight: 600;
		margin: 0;
		padding-bottom: var(--border-padding);
		text-decoration: underline;
	}

	h5 {
		color: var(--default-heading);
		font-family:  "Quicksand", sans-serif;
		font-size: 0.8em;
		font-style: normal;
		font-weight: 400;
		margin: 0;
		padding-bottom: 4px;
	}

	h6 {
		color: var(--default-heading);
		font-family:  "Quicksand", sans-serif;
		font-size: 1em;
		font-style: italic;
		font-weight: 400;
		margin: 0;
		padding-top: 0px;
	}
	
	figure {
		display: flex;
		flex-flow: column;
	}

	figure img {
		max-width: 100%;
	}
	
	figure figcaption {
		align-self: center;
		color: var(--default-heading);
		font-family: "Quicksand", sans-serif;
		font-size: 1em;
		font-style: italic;
		font-weight: 300;
		text-align: center;
	}

	li {
		color: var(--default-paragraph);
		font-family:  "Quicksand", sans-serif;
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
	}

	button {
		overflow: hidden;
		position: relative;
		-webkit-tap-highlight-color: transparent;
	}

	button:after {
		background: white;
		border-radius: 100%;
		content: '';
		display: flex;
		height: 120px;
		left: 50%;
		margin-left: -60px;
		margin-top: -60px;
		opacity: .6;
		position: absolute;
		top: 50%;
		transform: scale(0);
		width: 120px;
	}

	button:not(:active):after {
		animation: ripple 0.4s ease-out;
	}

	button:after {
		visibility: hidden;
	}

	button:focus:after {
		visibility: visible;
	}

	@keyframes ripple {
		0% {
			transform: scale(0);
		}
		20% {
			transform: scale(0.4);
		}
		40% {
			transform: scale(0.8);
		}
		80% {
			opacity: 0.2;
			transform: scale(1.2);
		}
		100% {
			opacity: 0;
			transform: scale(1.6);
		}
	}

	/****************************************************************/

	body {
		margin: 0;
		min-width: 320px;
	}

		header {
			background: var(--primary);
			box-sizing: border-box;
			display: flex;
			height: clamp(120px, 20vh, 140px);
			padding: var(--border-padding);
		}

			#title-column {
				box-sizing: border-box;
				display: flex;
				flex-direction: column;
				height: 100%;
				padding-right: var(--border-padding);
				width: 70%;
			}

				#title-row {
					align-items: flex-end;
					display: flex;
					height: 50%;
					width: 100%;
				}

				#subtitle-row {
					align-items: flex-start;
					display: flex;
					height: 50%;
					padding-bottom: var(--border-padding);
					width: 100%;
				}

			#nav-column {
				display: flex;
				width: 30%;
			}

				#desktop-nav-container {
					display: none;
				}

				#mobile-nav-container {
					align-items: center;
					display: flex;
					height: 100%;
					justify-content: right;
					width: 100%;
				}

					#mobile-nav-button {
						align-items: center;
						background-color: var(--mobile-nav-btn);
						border: 4px solid white;
						border-radius: 50%;
						box-shadow: 0px 4px var(--mobile-nav-btn-shadow);
						cursor: pointer;
						display: flex;
						justify-content: center;
						height: clamp(75px, 20vw, 85px);
						padding: 16px 16px;
						width: clamp(75px, 20vw, 85px);
					}

						#dropdown-icon {
							max-width: 70%;
						}

	/****************************************************************/

		main { 
			background-color: var(--bg);
			display: flex;
			margin:  0;
			padding: 0;
		}

			#desktop-layout {
				display: none;
			}

			#mobile-layout {
				display: flex;
				flex-direction: column;
			}

				#mobile-nav-dropdown {
					background-color: var(--primary);
					display: none;
					flex-direction: column;
					width: 100%;
				}

					.mobile-nav-dropdown-button {
						background-color: var(--mobile-nav-btn);
						border: 4px solid white;
						border-radius: 32px;
						box-shadow: 0px 4px var(--mobile-nav-btn-shadow);
						color: white;
						cursor: pointer;
						display: flex;
						font-family:  "Quicksand", sans-serif;
						font-size: 1.25em;
						font-style: normal;
						font-weight: 600;
						height: 3em;
						justify-content: center;
						margin-bottom: var(--border-padding);
						padding: 16px 16px;
						text-align: center;
						text-decoration: none;
						width: 100%;
					}

					#mobile-nav-dropdown a:link {
						text-decoration: none;
					}

				#mobile-topbar {
					background-color: var(--accent);
					box-sizing: border-box;
					display: flex;
					height: clamp(100px, 15vh, 110px);
					padding: var(--border-padding);
				}

					#mobile-portrait-container {
						align-items: center;
						justify-content: right;
						display: flex;
						height: 100%;
						width: 25%;
					}

						#mobile-portrait-img {
							height: clamp(76px, 20vw, 82px);
							width: clamp(76px, 20vw, 82px);
						}

					#mobile-portrait-text-container {
						align-self: center;
						box-sizing: border-box;
						justify-content: left;
						display: flex;
						height: 100%;
						padding-left: var(--border-padding);
						padding-right: var(--border-padding);
						width: 25%;
					}

						#mobile-portrait-text {
							align-self: center;
							color: var(--bg);
							display: inline-flex;
							font-size: clamp(20px, 5vw, 36px);
							font-weight: 600;
						}

					#mobile-resume-button-container {
						align-items: center;
						box-sizing: border-box;
						display: flex;
						height: 100%;
						justify-content: center;
						width: 50%;
					}

						#mobile-resume-button {
							align-items: center;
							background-color: var(--resume-btn);
							border: 4px solid white;
							border-radius: 50px;
							box-shadow: 0px 4px var(--resume-btn-shadow);
							color: var(--bg);
							cursor: pointer;
							display: flex;
							font-family:  "Quicksand", sans-serif;
							font-size: 1.25em;
							font-style: normal;
							font-weight: 600;
							height: 80%;
							justify-content: center;
							max-width: 152px;
							padding: 24px 48px;
							text-align: center;
							text-decoration: none;
						}

				#mobile-main-content {
					display: flex;
					flex-flow: column;
					width: 100%;
				}

					.list-container {
						padding-left: 16px;
						padding-right: 32px;
					}

					.about-me-paragraph {
						color: var(--default-paragraph);
						font-family:  "Quicksand", sans-serif;
						font-size: 1em;
						font-style: normal;
						font-weight: 400;
						padding: 8px 16px 8px 16px;
						text-align: center;
					}
					
					.experience-entry {
						padding: 8px 16px 8px 16px;
						text-align: center;
					}

						.job-title {
							font-size: 0.9em;
							font-style: normal;
							font-weight: 600;
						}

						.job-description {
							font-style: italic;
						}
					
					.project-heading {
						padding: 8px 16px 8px 16px;
						text-align: center;
						text-decoration: none;
					}

					#projects-cta-container {
						align-self: center;
						display: flex;
						justify-content: center;
						margin-bottom: 8px;
						text-align: center;
						width: 90%;
					}

						#projects-cta {
							font-family: "Quicksand", sans-serif;
							font-size: 1.2em;
							font-style: normal;
							font-weight: 400;
							margin: 0;
						}

						#projects-link {
							color:  var(--primary);
							font-family: "Quicksand", sans-serif;
							font-size: 1.2em;
							font-style: normal;
							font-weight: 400;
							margin: 0;
						}

					#btt-button-container {
						align-self: center;
						display: flex;
						justify-content: center;
						margin-bottom: 8px;
						text-align: center;
						width: 95%;
					}

						#btt-button {
							align-items: center;
							background-color: var(--primary);
							border: 5px solid white;
							border-radius: 50px;
							box-shadow: 0px 4px black;
							color: white;
							cursor: pointer;
							display: flex;
							font-family:  "Quicksand", sans-serif;
							font-size: clamp(18px, 5vw, 36px);
							font-style: normal;
							font-weight: 600;
							justify-content: center;
							margin: 8px 6px;
							max-width: 300px;
							padding: 16px 48px;
							text-align: center;
							text-decoration: none;
							width: 75%;
						}

		/****************************************************************/

		footer {
			align-items: center;
			background: var(--primary);
			display: flex;
			justify-content: center;
			min-height: 72px;
			text-align: center;
		}

			#footer-text {
				color: white;
				font-family:  "Quicksand", sans-serif;
				font-size: 1em;
				font-style: normal;
				font-weight: 400;
			}

			#license-link {
				color: var(--unclicked-link-light);
				font-family:  "Quicksand", sans-serif;
				font-size: 1em;
				font-style: normal;
				font-weight: 400;
			}

		/****************************************************************/
}

/********************************************************************
 * Tablet styling                                                   *
 ********************************************************************/
@media screen and (min-width: 481px) and (max-width: 1023px) {}

/********************************************************************
 * Desktop styling                                                  *
 ********************************************************************/
@media screen and (min-width: 1024px) {
	p {
		color: var(--default-paragraph);
		margin: 0;
	}

	h1 {
		color: var(--heading-one-color);
		font-family:  "Quicksand", sans-serif;
		font-size: 2em;
		font-style: normal;
		font-weight: 600;
		margin: 0;
	}

	h2 {
		color: var(--heading-two-color);
		font-family:  "Quicksand", sans-serif;
		font-size: 1.5em;
		font-style: normal;
		font-weight: 400;
		margin: 0;
	}

	figure {
		display: flex;
		flex-flow: column;
	}

	figure img {
		max-width: 100%;
	}

	figure figcaption {
		align-self: center;
		color: var(--default-heading-color);
		font-family: "Quicksand", sans-serif;
		font-size: 1.5em;
		font-style: normal;
		font-weight: 300;
	}

	/****************************************************************/

	header {
		background: var(--primary);
		display: flex;
		height: 15vh;
		min-height: 100px;
	}

		#title-col {
			align-items: center;
			display: inline-flex;
			height: 100%;
			justify-content: center;
			width: 20%;
		}

			#title-text {
				font-size: 100%;
				text-align: center;
			}

		#nav-col {
			align-items: center;
			display: inline-flex;
			height: 100%;
			justify-content: right;
			width: 80%;
		}

			#nav-bar {
				margin-right: 16px;
			}

				#mobile-nav {
					display: none;
				}

				.nav-button {
					align-items: center;
					background-color: transparent;
					border: 3px solid var(--clicked-link-color);
					border-radius: 50px;
					color: white;
					cursor: pointer;
					display: inline-block;
					font-family:  "Quicksand", sans-serif;
					font-size: 1.5em;
					font-style: normal;
					font-weight: 600;
					margin: 8px 6px;
					padding: 16px 48px;
					position: relative;
					text-align: center;
					text-decoration: none;
					transition-duration: 0.5s;
				}

				.nav-button:hover {
					background-color: var(--unclicked-link);
					color: white;
				}

	/****************************************************************/

	main { 
		display: flex;
		height: 75vh;
		margin:  0px auto;
		min-height: 500px;
	}
		#desktop-layout {
			display: flex;
			width: 100%;
		}

			#left-sidebar {
				background: var(--accent);
				display: inline-flex;
				justify-content: center;
				width: 20%;
			}

				#left-sidebar-portrait {
					display: flex;
					height: fit-content;
					justify-content: center;
					margin-top: 24px;
					width: fit-content;
				}

			#main-content {
				background: var(--bg-color);
				display: inline-flex;
				justify-content: center;
				right:  0;
				text-align: center;
				width: 80%;
			}

		#mobile-layout {
			display: none;
		}

	/****************************************************************/

	footer {
		align-items: center;
		background: var(--primary);
		display: flex;
		height: 10vh;
		justify-content: center;
		min-height: 1.5em;
	}

		#footer-text {
			color: white;
			font-family:  "Quicksand", sans-serif;
			font-size: 1em;
			font-style: normal;
			font-weight: 400;
			margin: 0;
		}

		#license-link {
			color: var(--unclicked-link);
			font-family:  "Quicksand", sans-serif;
			font-size: 1em;
			font-style: normal;
			font-weight: 400;
			margin: 0;
		}

	/****************************************************************/
}